name: ESLint Check
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci

      - name: Run ESLint
        id: eslint-check
        run: |
          npm run lint && echo "result=success" >> $GITHUB_OUTPUT || echo "result=failed" >> $GITHUB_OUTPUT
   
      - name: Update ESLint Badge in Gist
        if: always()
        uses: actions/github-script@v6
        env:
          GIST_ID: "6d9dd6bdaeecff45b56e0baee799ed2e"
        with:
          github-token: ${{ secrets.GH_PAT }}
          script: |
            // Получаем результат ESLint
            const result = "${{ steps.eslint-check.outputs.result }}";
            console.log(`ESLint result: ${result}`);

            // Подготавливаем данные для Gist
            const badgeData = {
              schemaVersion: 1,
              label: "ESLint",
              message: result === 'success' ? "valid" : "invalid",
              color: result === 'success' ? "brightgreen" : "red"
            };

            try {
              // Обновляем Gist
              const response = await github.rest.gists.update({
                gist_id: process.env.GIST_ID,
                files: {
                  'frecklesmusic-eslint-badge.json': {
                    content: JSON.stringify(badgeData, null, 2)  // Красивое форматирование
                  }
                }
              });

              console.log('Gist успешно обновлен!');
              console.log(`Статус: ${badgeData.message}`);
            } catch (error) {
              console.error('Ошибка при обновлении Gist:');
              console.error(error);
              throw new Error('Не удалось обновить Gist');
            }
