name: Lighthouse
on:
  push:
    branches: [ main ]  # Запуск при push в main
  pull_request:         # Или при создании PR
  workflow_dispatch:    # Ручной запуск через UI
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install Lighthouse CI
        run: npm install -g @lhci/cli
      - name: Run Lighthouse CI
        env:
          LHCI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: lhci autorun --config=./lighthouserc.json
      - name: Extract Lighthouse Hash
        id: lh-hash
        run: |
          HASH=$(grep -oP 'reports/\K[^"]+' ./lhci_reports/manifest.json)
          echo "hash=$HASH" >> $GITHUB_OUTPUT
      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: './lhci_reports'
